- name: "Create system group {{ linux_exporter_system_group }}"
  ansible.builtin.group:
    name: "{{ linux_exporter_system_group }}"
    system: true
    state: present

- name: "Create system user {{ node_exporter_system_user }}"
  ansible.builtin.user:
    name: "{{ node_exporter_system_user }}"
    system: true
    shell: "/usr/sbin/nologin"
    group: "{{ linux_exporter_system_group }}"
    # home: "{{ linux_exporter_config_dir | default('/', true) }}"
    create_home: false

- name: Determine whether cert renewal should be forced
  ansible.builtin.set_fact:
    renew_cert: "{{ force_cert_renewal | default(false) }}"

- name: Check if install directory exists
  ansible.builtin.stat:
    path: "{{ linux_exporter_config_dir }}"
  register: installdir

- name: Create install directory if it doesn't exist
  ansible.builtin.file:
    path: "{{ linux_exporter_config_dir }}"
    state: directory
    mode: '0644'
    owner: "{{ linux_exporter_system_user }}"
    group: "{{ linux_exporter_system_group }}"
  when: not installdir.stat.exists

- name: Check if ca file exists
  ansible.builtin.stat:
    path: "{{ linux_exporter_config_dir }}/ca.crt"
  register: file_ca

- name: Check if cert file exists
  ansible.builtin.stat:
    path: "{{ linux_exporter_config_dir }}/tls.crt"
  register: file_cert

- name: Check if key file exists
  ansible.builtin.stat:
    path: "{{ linux_exporter_config_dir }}/tls.key"
  register: file_key

- name: Generate certificates
  when: not file_ca.stat.exists or not file_cert.stat.exists or not file_key.stat.exists or renew_cert
  block:
    - name: Get SANs
      ansible.builtin.set_fact:
        linux_exporter_sans: "{{ linux_exporter_sans + [item] }}"
      loop:
        - "DNS:{{ ansible_fqdn | default(inventory_hostname) }}"
        - "DNS:{{ inventory_hostname }}"
        - "DNS:{{ inventory_hostname_short }}"
        - "DNS:{{ ansible_default_ipv4.address | default(ansible_all_ipv4_addresses[0] | default(ansible_host)) }}"
      when: item not in linux_exporter_sans
      delegate_to: localhost

    - name: Show SANs
      ansible.builtin.debug:
        msg: "{{ linux_exporter_sans }}"
      delegate_to: localhost

    - name: Issue certificate
      vars:
        sans: "{{ linux_exporter_sans }}"
      block:
        - name: Issue certificate
          ansible.builtin.include_role:
            name: certificate_authority
            tasks_from: issue_certificate.yml

    - name: Write ca file
      ansible.builtin.copy:
        content: "{{ ca_certificate }}"
        dest: "{{ linux_exporter_config_dir }}/ca.crt"
        mode: '0644'
        owner: "{{ linux_exporter_system_user }}"
        group: "{{ linux_exporter_system_group }}"

    - name: Write cert file
      ansible.builtin.copy:
        content: "{{ leaf.certificate }}"
        dest: "{{ linux_exporter_config_dir }}/tls.crt"
        mode: '0644'
        owner: "{{ linux_exporter_system_user }}"
        group: "{{ linux_exporter_system_group }}"

    - name: Write key file
      ansible.builtin.copy:
        content: "{{ leaf_key.privatekey }}"
        dest: "{{ linux_exporter_config_dir }}/tls.key"
        mode: '0640'
        owner: "{{ linux_exporter_system_user }}"
        group: "{{ linux_exporter_system_group }}"

- name: Install the node_exporter
  vars:
    node_exporter_config_dir: "{{ linux_exporter_config_dir }}"
    node_exporter_tls_server_config: "{{ linux_exporter_tls_server_config }}"
    node_exporter_system_group: "{{ linux_exporter_system_group }}"
    node_exporter_system_user: "{{ linux_exporter_system_user }}"
    node_exporter_enabled_collectors: "{{ linux_exporter_enabled_collectors }}"
    node_exporter_version: "{{ linux_exporter_version }}"
  block:
    - name: Install the node_exporter
      ansible.builtin.import_role:
        name: prometheus.prometheus.node_exporter
